@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
color: white;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url(images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%) ;
}
.container{
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
/* leftSide CSS */
.leftSide{
    width: 35%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}
.leftSide h1{
    width: 80%;
    font-size: 45px;
    line-height: 50px;
}
/* leftSide CSS */
/* rightSide CSS */
.rightSide{
    width: 35%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.Trial{
width: 100%;
padding: 20px;
background-color: hsl(248, 32%, 49%);
 border-radius: 10px;
 text-align: center;
 box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.3);
}
.Trial span{
    font-weight: bold;
}
.rightSide form{
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.3);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.rightSide form .inputContainer{
    width: 100%;
    position: relative;
}
.inputContainer i{
    position: absolute;
    top: 11px;
    right: 10px;
    font-size: 20px;
    color: hsl(0, 100%, 74%) ;
    display: none;
}
.rightSide form input{
    width: 100%;
    padding: 10px 30px;
     border-radius: 5px;
    font-weight: bold;
    border: 1px solid  lightgray;
    outline: none;
    color: black;
}
.rightSide form input:focus{
    border: 2px solid hsl(248, 32%, 49%);
}

.checkBox{
    width: auto;
    display: flex;
    align-items: center;
    gap: 8px;
}
.checkBox input {
    width: 100%;
    
}
.checkBox label {
    font-size: 10px;
    font-weight: bold;
    color: lightgray;
    white-space: nowrap;
} 
.checkBox label span{
    color: hsl(0, 100%, 74%) ;
}
.btn{
    width: inherit;
    padding: 15px 0px;
    background-color: hsl(154, 59%, 51%);
    border: 1px solid hsl(154, 59%, 51%);
    border-radius: 5px;
    font-weight: bold;

}
.error{
    display: none;
    color: hsl(0, 100%, 74%);
    text-align: end;
    font-size: 8px;
    font-weight: bold;
    padding: 4px 0px;
}
/* rightSide CSS */

/* Responsive CSS */
@media (max-width : 575px) {
    .container{
        display: flex;
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }    
    .leftSide{
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .checkBox{
        flex-direction: column;
    }
    .checkBox label{
        font-size: 8px;
    }
    .leftSide h1{
    font-size: 20px;
    line-height: 25px;
    }
    .rightSide{
        width: 100%;
    }
    form{
        height: 60%;
    }
    form input{
        padding: 5px;
    }
}
@media (max-width : 1145px) {
    .checkBox{
        flex-direction: column;
    }
    .checkBox label{
        white-space: normal;
        text-align: center;
    }
    
}